body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
} 

.main {
    display: flex;
}

.home, .Image{
    width: 50%;

}

.size{
    font-size: 45pt;
}
.navbar ul{
    list-style: none;
    background:rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    text-align:center;
}

.navbar li{
    display:inline-block;
}

.navbar a{
    text-decoration: none;
    color: #000000;
    width: 150px;
    display: block;
    padding: 25px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 10px;
}

.navbar a:hover{
    background: #c3c5c8d0;
}

.logo {
    float: left;
    margin-left: 18px;
    padding: 15px;
}

.main{
    background-image: url(wave-haikei.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 150px;
    width: 1250px;
    line-height: -1.5;
}

h1, h4{
    font-family: 'cormorant unicase static';
    font-weight: bolder;
    text-align: center;
}

.main-h4 {
    font-size: small;
    text-align: left;
}

.main-h1 {
    font-size: 32px;
    text-align: left;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.about-p {
    width: 500px;
    text-align: center;
}

.icon-container {
    position: relative;
    width: 300px; 
    height: 300px;
    margin: 50px auto; 
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px; 
    height: 50px;
    margin-top: -25px;
    margin-left: -25px; 
    border-radius: 20%; 
    transition: transform 0.3s ease;
}

.icon:nth-child(1) {
    transform: translate(-150px, 0); 
}

.icon:nth-child(2) {
    transform: translate(150px, 0); 
}

.icon:nth-child(3) {
    transform: translate(0, -150px); 
}

.contact {
    width: 100%;
    display: flex;
}

.footer-column {
    width: 33.33%;
}

/**
.footer {
    background-image: url();
    **/